{{ define "main" }}
<div class="contentflexhold">
    <div class="stickyhold">
        {{ partial "sidebar.html" . }}
    </div>
    <div class="contentpagehold">
        <div class="single-content">
        {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
                {{ $.Scratch.Add "path" .Site.BaseURL }}
                <ol id="breadcrumbs">
                    {{ range $index, $element := split $url "/" }}
                        {{ $.Scratch.Add "path" $element }}
                        {{ if ne $element "" }}
                        <li><a href='{{ $.Scratch.Get "path" }}'>{{ . }}</a></li>
                            {{ $.Scratch.Add "path" "/" }}
                        {{ end }}
                    {{ end }}
                </ol> 
        <img src="{{ .Params.headerimg }}" style="width: 100%">
        <h1>{{.Title}}</h1>
        
            
            {{.Content}}
        </div>
        <div class="subsectionhold">
            <!-- Ranges through content/posts/*.md -->
            {{ range .Pages }}
                {{ partial "subsection" . }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}