{{ define "main" }}
    <div class="contentflexhold">
        <div class="stickyhold"> 
            {{ partial "sidebar.html" . }}
        </div>
        <div class="contentpagehold">
            
            <div class="single-content">
                {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
                {{ $.Scratch.Add "path" .Site.BaseURL }}
                <ol id="breadcrumbs">
                    {{ range $index, $element := split $url "/" }}
                        {{ $.Scratch.Add "path" $element }}
                        {{ if ne $element "" }}
                        <li><a href='{{ $.Scratch.Get "path" }}'>{{ . }}</a></li>
                            {{ $.Scratch.Add "path" "/" }}
                        {{ end }}
                    {{ end }}
                </ol> 
            <h1>{{.Title}}</h1>
                {{.Content}}
                <div class="chapterhold">
                    <div >
                    {{with .CurrentSection.RegularPages.Next . }}
                    
                        <a href="{{.RelPermalink}}">
                            ←
                        </a>
                    
                    {{end}}
                    </div>
                    <div>
                    {{with .CurrentSection.RegularPages.Prev . }}
                    
                        <a href="{{.RelPermalink}}">
                        →
                        </a>
                    
                    {{end}}
                </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}