
    <div class="featuredsection">
        <a href="{{ .Permalink }}">
        <div style="background-image: url('{{ .Params.headerimg}}'); height: 400px; width: 100%; background-position: center; background-size: cover; background-repeat: no-repeat; border-radius: 8px;" ></div>
        <div>
        </a>
        <a href="{{ .Permalink }}">
        
            <h2>{{.Title}}</h2>
        </a>
        </div>
        <div class="sub-hold">
            {{ range .Pages}}
            <div>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </div>
            {{ end}}
        </div>
    </div>
