<div class="sidebar">
    <div>
        <div class="sidespacer">
            
        </div>
        <div>

            <div class="chapterhold">
                <div >
                {{with .CurrentSection.RegularPages.Next . }}
                
                    <a href="{{.RelPermalink}}">
                        ←
                    </a>
                
                {{end}}
                </div>
                <div>
                {{with .CurrentSection.RegularPages.Prev . }}
                
                    <a href="{{.RelPermalink}}">
                    →
                    </a>
                
                {{end}}
            </div>
            </div>
        </div>
        <ul class="sidelist">
                {{ range .CurrentSection.Pages }}
                <a href="{{.Permalink}}">
                    <li class="linkli">
                        {{.Title}}
                    </li>
                </a>
                {{ end }}
        </ul>
    </div>
    <div class="bottomctahold">
        {{ if .CurrentSection.Params.cta }}
        <a href="{{ .CurrentSection.Params.target }}" target="_blank"><button class="button-wide">{{ .CurrentSection.Params.cta }}</button></a>
        {{ end }}
        <div>
            <a href="https://gitlab.com/xalgorithms-alliance/communications-documentation/-/tree/main/content/{{.Path}}" target="_blank">Edit this Page</a>
        </div>  
    </div>
</div>